.remove-btn {
	margin-right: 0.5rem;
}

.item-enter {
	opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition-property: transform, opacity;
	transition: 500ms ease-in;
}
.item-exit {
    opacity: 1;
    transform: translateY(0);
}
.item-exit-active {
    opacity: 0;
    transform: translateY(-10%);
    transition-property: transform, opacity;
	transition: opacity 200ms ease-in-out;
}



